/* Style CSS pour l'application */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #007BFF;
}

form {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form label, form select {
    margin-right: 10px;
}

form input[type="submit"] {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

table th {
    background-color: #f2f2f2;
    color: #333;
    cursor: pointer; /* Indique que les colonnes sont cliquables */
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

